%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "633984575069531250.css" }
    %title RDFa extractr
  %body
    %img{:src => "633984575069531250.png"}

    %form
      %input{:type => "text",:name => "url",:value => "#{params[:url]}"}
    %img{:src => "hello_world.svg"}  
    = yield